*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #234257;
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');  
button{
    cursor: pointer;
}
.header {
    background-image: url('../images/heroSection.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin-bottom:2% ;
    position: relative;
}
.p-hero{
    font-size: 35px;
    color:#F5F5F5;
}
.header-content{
    display:flex ;
    flex-direction: column;
    row-gap: 10px;
    width: 37%;
    position: absolute;
    background-color: inherit;
    top: 38.5%;
    right: 13%;
}
.hero-join{
    background-color: #F5F5F5;
    font-size: 25px;
    width: 140px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-about{
    width: 75%;
    background-color: rgba(137, 178, 174, 0.50);
    margin: 0% 1% 0% 1%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    height: 400px;
  
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section h2 {
    font-family:'Permanent Marker';
    text-align: center;
    margin-bottom: 2%;
    font-size: 37px;
}
.home-about-img{
    width: 50%;
    height: 100%;
}
.home-about-img img {
    width: 100%;
    height: 100%;
}

.home-about-text{
    width: 50%;
    display: flex;
    flex-direction:column;
    row-gap: 15px;
    padding: 1.5%;
}
.home-about-text-p{
    font-family:'Permanent Marker';
font-size: 35px;
font-style: normal;
font-weight: 200;
line-height: 40px;
width: 80%; 
}
.how-about-second{
    width: 95%;
font-size: 25px;
}
.home-section-icons{
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
}
.home-section-icons-d{
    background-color: rgba(137, 178, 174, 0.50);
    width:215px;
    height:215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 7%;
    margin-bottom: 1%;
}
.home-section-icons-d img{
    width: 90px;
    height: 90px;
}
.subtitle{
    font-family:'Permanent Marker';
    font-size: 25px;
}
.latest-products{
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    align-items: center;
    justify-content: center;
}
.latest-h2{
    font-family:'Permanent Marker';
    text-align: center;
    font-size: 40px;
}
.home-products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    margin: 2% 0% 2% 0%;
    width: 100%;
}
.single-item{
    width: 350px;
    height: 325px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    stroke-width: 1px;
    stroke: #89B2AE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #89B2AE;
    margin-bottom: 1%;
}
.item-t-p{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}
.item-p{
    font-size: 25px;
    margin-left: 2%;
}
.home-img-item{
    height: 254.13px;
}
.home-img-item:hover{
 transform: scale(1.01);
 cursor: pointer;
}
.rides-h{
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.rides-h h2{
    margin-bottom: 2%;
}
.ride{
    padding: 1%;
    width: 80%;
    height: 400px;
    background: rgba(137, 178, 174, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    position: relative;
}
.ride-f{
display: flex;
flex-direction: row;
height: 70%;
}
.ride-f-t{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.ride-title{
font-family: Permanent Marker;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ride-p{
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ride-s{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mapImg{
    width: 185px;
    height: 155px;
    z-index: 2;
    position: absolute;
     top: 50%;
    right: 54%; 
}
.imgRide{
    width: 352px;
height: 244px;
z-index: 1;
position: absolute;
right: 3%;
top: 5.7%;
}
.ride-f-imgs{
    position: relative; 
    width: 100%;
}
.rideData{
    display: flex;
    flex-direction: row;
}
.rideData-title{
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rideData-p{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rideData-g{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid #234257;
    padding: 0px 10px;  
}
.rideData-g1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
    
    width: fit-content;
    padding: 3px;
}
.view-all-rides{
    width: 136px;
    height: 35px;
color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #234257;
border-radius: 6px;
margin-right: 75px;
}
@media screen and (max-width:766px){
    .header{
        margin-bottom: 10%;
        height: 670px;  
    }
    .about-section {
        margin-bottom: 10%
    }
    .p-hero {
        font-size: 30px;
        line-height: 45px;
    }
    .header-content {
        top: 13.5%;
        right: 5%;
        width:85%;
    }
    .hero-join {
        align-self: flex-end;
    }
    .home-about {
        flex-direction: column-reverse;
        height: fit-content;
        width: 85%;
    }
    .home-about-text {
        padding: 14px;
        width: 100%;
    }
    .how-about-second {
        width: 100%;
        font-size: 20px;
    }
    .home-about-img {
        width: 100%;
        height: 100%;
    }
    .home-about-img img {
        margin-bottom: -4px;    
    }
    .latest-h2 {
        font-size: 37px;
    }
    .home-about-text-p {
        font-family: 'Permanent Marker';
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 25px;
        width: 100%;
        padding: 2px
    }
    .home-section-icons{
        margin: 5% 0%;
        
    }
    .home-section-icons-d {
        width: 200px;
        height: 200px;
    }
    .home-products {
        margin: 5% 0%;
        width: 90%;
    }
    .rides-h {
        margin: 5% 0% 7% 0%;
    }
   .ride{
    height: fit-content;
    width: 90%;
    margin-bottom: 40px;
   }
    .ride-f{
    flex-direction: column;
    height: 50%;
    width: 100%;
    }
    .ride-f-t{
        width: 100%;
        padding: 2.5px 10px;
    }
    .three-points {
        top: 5px;
    }
    .ride-title{
    font-size: 26px;  
    }
    .ride-p{
        font-size: 20px;
    }
    .ride-s{
        height: fit-content;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .mapImg {
        z-index: auto;
        position: static;
        top: auto;
        right: auto;
        width:94%;
    height: auto;
    }
    .imgRide{
     display: none;
    }
    .ride-f-imgs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        position: unset;
    }
    .rideData {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 4%; 
        align-items: center;
        justify-content: center;
        margin: 3%;
    }
    .rideData-title{
    font-size: 20px;
    }
    .item-t-p {
        margin-bottom: 2%;
    }
    .rideData-p{
    font-size: 16px;
    }
    .rideData-g{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 2px solid #234257;
        padding: 0px 10px;  
    }
    .more-inputs-show {
        top: 4%;
    }
    .rideData-g3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 10px;
        width: fit-content;
        padding: 3px;
        border-right: none;
    }
    .rideData-g1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 10px;
        
        width: fit-content;
        padding: 3px;
    }
    .view-all-rides{
    margin-left: 0%;
    margin: 10px 0px;
    }
    .single-item{
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .home-about{
        height: 355px;
    }
    .home-about-text{
        row-gap: 12px;
    }
    .header-content{
        width: 44%;
        right: 6%;
    }
    .single-item{
        width: 47%;
        height: 100%;
        margin-bottom: 3%;
    }
    
.item-t-p {
    margin-bottom: 8px;
}

    .home-section-icons-d {
        width: 15%;
        height: 150px;
    }
    .home-section-icons-d img {
        width: 70px;
        height: 70px;
    }
    .subtitle {
        font-size: 20px;
    }
    .home-about-text-p {
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 25px;
        width: 90%;
        padding-left: 5px;
    }
    .how-about-second {
        width: 95%;
        font-size: 20px;
        padding-left: 5px;
    }
    .ride-title{
    font-family: Permanent Marker;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .ride-p{
        font-size:  19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .rides-container {
        margin: 14% 0%;
    }
    .ride-s{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 3%;
    }
    .mapImg{
        width: 115px;
        height: 115px;
        z-index: 2;
        position: absolute; 
        top: 60%;
    }
    .imgRide{
    width: 225px;
    height: 200px;
    top:8%;
    }
    .ride-f-imgs{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rideData{
        display: flex;
        flex-direction: row;
    }
    .rideData-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .rideData-p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .rideData-g{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border-right: 2px solid #234257;
        padding: 0px 4px;  
    }
    .rideData-g1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 10px;
        
        width: fit-content;
        padding: 3px;
    }
    .view-all-rides{
        width: 100px;
    font-size: 22px;
    margin-left: 0%;
    margin-right: 20px;
    
    }
    .ride{
        height: 355px;
        width:93%;;
    }
}