*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #234257;
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');  
button{
    cursor: pointer;
}
.header {
    background-image: url(C:\Users\pc\OneDrive\Desktop\cycloo\frontend\cycloo\src\images\heroSection.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin-bottom:2% ;
}
.p-hero{
    font-size: 35px;
    color:#F5F5F5;
}
.header-content{
    display:flex ;
    flex-direction: column;
    row-gap: 10px;
    width: 45%;
    position: absolute;
    background-color: inherit;
    top:53%;
    right: 5%;
}
.hero-join{
    background-color: #F5F5F5;
    font-size: 25px;
    width: 140px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-about{
    width: 75%;
    background-color: rgba(137, 178, 174, 0.50);
    visibility: 50%;
    margin: 0% 1% 0% 1%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    height: 400px;
  
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section h2 {
    font-family:'Permanent Marker';
    text-align: center;
    margin-bottom: 2%;
    font-size: 40px;
}
.home-about-img{
    width: 50%;
    height: 100%;
}
.home-about-img img {
    width: 100%;
    height: 100%;
}

.home-about-text{
    width: 50%;
    display: flex;
    flex-direction:column;
    row-gap: 15px;
    padding: 1.5%;
}
.home-about-text-p{
    font-family:'Permanent Marker';
font-size: 35px;
font-style: normal;
font-weight: 200;
line-height: 63px;
width: 80%; 
}
.how-about-second{
    width: 95%;
font-size: 25px;
}
.home-section-icons{
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
}
.home-section-icons-d{
    background-color: rgba(137, 178, 174, 0.50);
    width:215px;
    height:215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 7%;
    margin-bottom: 1%;
}
.home-section-icons-d img{
    width: 90px;
    height: 90px;
}
.subtitle{
    font-family:'Permanent Marker';
    font-size: 25px;
}
.latest-products{
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    align-items: center;
    justify-content: center;
}
.latest-h2{
    font-family:'Permanent Marker';
    text-align: center;
    font-size: 40px;
}
.home-products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    margin: 2% 0% 2% 0%;
    width: 80%;
}
.single-item{
    width: 350px;
    height: 315px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    stroke-width: 1px;
    stroke: #89B2AE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #89B2AE;
    margin-bottom: 1%;
}
.item-t-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
}
.item-p{
    margin-left: 2%;
}
.home-img-item:hover{
 transform: scale(1.01);
 cursor: pointer;
}
.rides-h{
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.rides-h h2{
    margin-bottom: 2%;
}
.ride{
    padding: 1%;
    width: 75%;
    height: 400px;
    background: rgba(137, 178, 174, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.ride-f{
display: flex;
flex-direction: row;
height: 70%;
}
.ride-f-t{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.ride-title{
font-family: Permanent Marker;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ride-p{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ride-s{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mapImg{
    width: 185px;
    height: 155px;
    z-index: 2;
    position: absolute;
     top: 323.5%;
    right: 35%; 
}
.imgRide{
    width: 352px;
height: 244px;
z-index: 1;
position: absolute;
right: 15%;
}
.ride-f-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rideData{
    display: flex;
    flex-direction: row;
}
.rideData-title{
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rideData-p{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rideData-g{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid #234257;
    padding: 0px 10px;  
}
.rideData-g1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
    
    width: fit-content;
    padding: 3px;
}
.view-all-rides{
    width: 136px;
    height: 35px;
color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #234257;
border-radius: 6px;
margin-left: 185%;
}