.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid #234257;
    background-color: #F5F5F5;
}
.cycloo{
    color: #234257;
font-family: Inter;
font-size: 40px;
font-style: italic;
font-weight: 500;
line-height: normal;
}
.cycloo a{
     text-decoration: none;
     font-family: 'Medium Italic'; 
}
.mainNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainNav ul li {
    list-style: none;
    margin: 0px 20px 0px 20px;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
}
.navItem{
    text-decoration: none;
    transition: border-bottom 1.3s ease-in-out;
}
.navItem:hover{
    border-bottom: 2.5px solid #234257;
    
}
.mainNav ul li a{
    text-decoration: none;
    
}
.mainNav-ul-li-button{
    background-color: #234257;
    color: #FFFFFF;
    border-radius:6px;
    font-size: 18px;
   height: 35px;
    width: 120px;
}
.dashboardIcon ,.cartIcon{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
