.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 1px solid #234257;
    background-color: #F5F5F5;
    position: relative;
}
.burger-section{
    display: none;
}
.cycloo{
    color: #234257;
font-family: Inter;
font-size: 40px;
font-style: italic;
font-weight: 500;
line-height: normal;
 margin-left:2%
}
.cycloo a{
     text-decoration: none;
     font-family: 'Medium Italic'; 
}
.mainNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainNav ul li {
    list-style: none;
    margin: 0px 20px 0px 20px;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
}
.navItem:hover{
    border-bottom: 2px solid #234257;
    
}
.mainNav ul li a{
    text-decoration: none;
    
}
.mainNav-ul-li-button{
    background-color: #234257;
    color: #FFFFFF;
    border-radius:6px;
    font-size: 18px;
   height: 35px;
    width: 120px;
}
.dashboardIcon ,.cartIcon{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
@media screen and (min-width:767px) and (max-width:1023px) {
.mainNav ul li {
    margin: 0px 10px 0px 10px;
}
}
.menuIcon{
    display: none;
}
.menuIcon img{
    width: 40px;
    height: 45px;
}
@media screen and (max-width:766px){
    .menuIcon{
        display: block !important;
    }
    .mainNav ul li {
        display: none;
    }
    .burger-section{
        position: absolute;
        top:0;
        right:0;
        width: 100%;
        height: 300px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    row-gap: 10px;
    }
    .burger-section p{
        color: #234257;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .burger-icons{
        display: flex;
        flex-direction: row;
    }
    .burger-icons img{
        width: 40px;
        height: 40px;
    }
    .burgerButton{
        width: 120px;
        height: 40px;
        background-color:#234257;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius:6px;
    }
    .div-x{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: end;
        margin:5px 5px 0px 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
}
.div-x:hover {
    background-color: rgba(137, 178, 174, 0.50);  
}
    .div-x img{
        width: 25px;
        height: 25px;
    }
}
.hideMenu{
    display: none;
}
.burger-section a {
    text-decoration: none;
    cursor: pointer;
}