.oops-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
}
.oops-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}
.oops-word{
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.oops-img{
    width: 160px;
height: 160px;
}
.span-404{
  padding-right: 12px;
  border-right: 2px solid #234257;
  margin-right: 3px;
}
.p-404{
 font-size: 35px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}
.oops-btn{
    border-radius: 6px;
background: #234257;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 250px;
height: 50px;
color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 766px){
    .oops-content{
        row-gap: 12px;
    }
    .oops-word{
    font-size: 55px;    
    font-weight: 400;
    }
    .oops-img{
        width: 130px;
    height: 130px;
    }
    .span-404{
      padding-right: 12px;
      margin-right: 3px;
    }
    .p-404{
     font-size: 29px;
    }
    .oops-btn{
        width: 200px;
        height: 40px;
        font-size: 28px;
    }
}