.delete-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-popup-content {
      background: white;
      padding: 1.5% 1.5% 0.2% 1.5%;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 32.5%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: flex-start;
    }
    .delete-popup-t{
        font-size: 1.325rem;
        font-weight: 600;
    }
    .delete-popup-p{
        font-weight: 400;
        font-size: 1.125rem;
    }
    .delete-popup-buttons-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap:2%;
        margin-bottom: 10px;
    }
    .delete-popup-cancel-btn{
        width: 20%;
        border-radius: 6px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .delete-popup-confirm-btn{
        width: 20%;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #234257 !important;
        color: #fff !important;
        font-size: 22px;
        transition: transform 0.2ms ease-in-out;
    }
    .delete-popup-cancel-btn:hover{
        cursor: pointer;
        transform: scale(1.05);
        background-color: rgba(137, 178, 174, 0.50);
    }
    .delete-popup-confirm-btn:hover{
        cursor: pointer;
        border: 2px solid #234257;
    }
    .add-product-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .add-product-popup-content{
        background: white;
        padding: 1.5% 1.5% 0.2% 1.5%;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: flex-start;
    }
    .add-product-popup-content-inputs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .add-product-popup-content-inputs-l-i{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 48%;
    }
    .add-product-input{
        border: 1px solid #234257;
        background-color: inherit;
        outline: 0;
        padding: 2px;
        border-radius: 6px;
        height: 30px;
    }
    .add-product-popup-textArea-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }
    .add-product-textArea{
        padding: 2px;
        border: 1px solid #234257;
        background-color: inherit;
        outline: 0;
        border-radius: 6px;
        min-width: 100%;
        max-width: 100%;
        min-height: 150px;
        max-height: 150px;
    }
    input[type='file']{
        display: none;  
    }
    .file-label{
        color: #fff;
        background-color: #234257;
        font-size: 1.04rem;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 25%;
        cursor: pointer;
    }
    .add-product-popup-content-btns{
        display: flex;
        align-items:flex-end;
        gap: 1%;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    .update-product-img{
        width: 25%

    }
    .add-product-cancel-btn{
        background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #234257;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 6px;
    width: 20% !important;
    height: 30px !important;
    }
    .add-product-submit-btn{
        background-color: #234257 !important;
        color: #FFF !important;
        font-size: 20px !important;
        width: 20% !important;
    height: 30px !important;
    }
    .add-product-popup-content-inputs-l-i-f{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .choose-product-img-div{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: flex-start;
        gap: 10px;
    }
    .error-span-popup{
        color: #3f4c55;
    }
    .notErrorSpan{
        opacity: 0;
    }
    .update-ride-textArea{
        padding: 2px;
    border: 1px solid #234257;
    background-color: inherit;
    outline: 0;
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    min-height: 90px;
    max-height: 90px;
    }
    .update-ride-popup-content{
        background: white;
    padding: 1.5% 1.5% 0.2% 1.5%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    }
    .update-ride-popup-content-inputs-l-i {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 32%;
    }
    .add-product-popup-content-radios{
        display: flex;
        flex-direction: row;
        align-items:center;
        gap: 10%;
        margin: 7px 0px 7px 0px;
    }
    .add-product-popup-content-radios label{
        display: flex;
        flex-direction: row;
        gap:3px;
    }
    @media screen and (min-width:767px) and (max-width:1024px) {
        .add-product-popup-content {
            width: 60%;
        }
        .delete-popup-confirm-btn{
            width: 20%;
    font-size: 28px;
        }
        .delete-popup-cancel-btn{
            width: 20%;
    font-size: 28px;
        }
        .delete-popup-content {
            width: 70%;
            gap: 20px;
        }
        .delete-popup-t {
            font-size: 1.755rem;
        }
        .delete-popup-p{
            font-size: 1.495rem;
        }
        
        
    }
    
    @media screen and (max-width:766px){
        .add-product-submit-btn {
            width: 25% !important;
            height: 30px !important;
        }
        .add-product-cancel-btn {
            width: 25% !important;
            height: 30px !important;
        }
        .add-product-textArea {
            height: 60px;
            max-height: 100px;
        }
        .add-product-popup-textArea-container {
            width: 95%;
        }
        .add-product-popup-content-inputs-l-i {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 95%;
        }
        .add-product-popup-content-inputs {
            flex-direction: column;
        }
        .add-product-popup-content {
            width: 75%;
        }
        .delete-popup-t {
            font-size: 1.250rem;
        }
        .delete-popup-confirm-btn{
            width: 25%;
            font-size: 18px;
        }
        .delete-popup-cancel-btn{
            width: 25%;
            font-size: 18px;
            
        }
        .delete-popup-content {
            width: 80%;
            padding: 2.5% 2.5% 0.2% 2.5%;
            gap:12px;
        }
        .delete-popup-p{
            font-size: 1.925ch;
        }
    }